/* Common rules */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#site_container {
    background-color: lightgrey;
}

:root {
    --bol-cyan: #45ABEA;
    --bol-green: #64C0A9;
    --bol-purple: #9C72E4;
    --bol-lightgreen: #B0C926;
    --bol-pink: #D863A1;
    --bol-orange: #F29E33;
}
   

/* Header */

header {
    margin-left: 1rem;
    margin-top: 1rem;
    
}

#logo {
    vertical-align: middle;
}



#title {
    font-family: 'Arial',  sans-serif;
    font-size: 2rem;
    font-weight: 700;
}