/* Common rules */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#site_container {
    background-color: lightgrey;
    margin: auto;
    width: 80%;
}

:root {
    --bol-cyan: #45ABEA;
    --bol-green: #64C0A9;
    --bol-purple: #9C72E4;
    --bol-lightgreen: #B0C926;
    --bol-pink: #D863A1;
    --bol-orange: #F29E33;
}

/* Utilities */

.font_arial {
    font-family: 'Arial',  sans-serif;

}

.borders_button {
    border-radius: 0.5rem;
    padding: 0.3rem;
}

.background_color_cyan {
    background-color: #45ABEA;
}

.background_color_purple {
    background-color: #D863A1;
}

.background_color_green {
    background-color: #64C0A9;
}

.background_color_orange {
    background-color: #F29E33;
}

.background_color_pink {
    background-color: #D863A1;
}

.background_color_lightgreen {
    background-color: #B0C926;
}

.white {
    color: white;
}

.block_element {
    display: block;
}
   

/* Header */

header {
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
}

#logo {
    vertical-align: middle;
}



#title {
    font-family: 'Arial',  sans-serif;
    font-size: 2rem;
    font-weight: 700;
}

/* Nav */

#buttons {
    margin-bottom: 0.5rem;
}

#task_button {   
    background-color: #45ABEA;
}

#section_button {
    color: black;
    background-color: white;
}